.blog-item {
    margin-bottom: 0px !important;
}

body {
    background: url("/images/pattern.jpg") repeat;
}

label.error {
    margin: 3px;
    color: #c52d2f;
}

.navbar {

    border-radius: 0px !important;
    z-index: 999 !important;
}

.btn-danger {
    border-color: #c52d2f;
    background-color: #c52d2f;
    z-index: 999 !important;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-color: #c52d2f;
    background-color: #c52d2f;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    border-color: #c52d2f;
    background-color: #c52d2f;
}


