.blog-item {
    margin-bottom: 0px !important;
}

body {
    background: url("/images/pattern.jpg") repeat;
}

label.error {
    margin: 3px;
    color: #c52d2f;
}

.navbar {

    border-radius: 0px !important;
}


.btn-danger{
    border-color: #c52d2f;
    background-color: #c52d2f;
}